* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F61818;
    height: 100px;
    margin-top: 20px;    
}


header h1 {
    font-family: "Roboto Regular", "Roboto";
    font-size: 60px;
    color: #FFFFFF;
}

main {
    text-align: start;
}

.span-required {
    display: none;
    margin: 0px 20px;
    font-size: 15px;
    font-family: "Roboto Regular", "Roboto";
}

.input {
    padding: 20px;
    margin: 20px 20px 5px 20px;
    width: 500px;
    height: 50px;
    border: 1px solid black;
    font-family: "Roboto Regular", "Roboto";
    font-size: 20px;
}

.input-area {
    margin: 20px 20px 0px 20px;
    padding: 20px;
    border: 1px solid black;
    font-family: "Roboto Regular", "Roboto";
    font-size: 20px;
}

.btn-enviar {
    font-family: "Roboto Regular", "Roboto";
    background-color: #F61818;
    font-size: 20px;
    margin: 25px 20px;
    padding: 17px;
    width: 236px;
    border-radius: 10px;
}

.input.invalid, .input-area.invalid {
    border-color: red;
}