* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #171515;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F61818;
    height: 100px;
    margin-top: 60px;    
}


header h1 {
    font-family: "Roboto Regular", "Roboto";
    font-size: 80px;
    color: #FFFFFF;
}

main {
    text-align: start;
}

.input {
    padding: 20px;
    margin: 50px 20px;
    background-color: #F61818;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    font-family: "Roboto Regular", "Roboto";
    font-size: 20px;
}

.input-area {
    background-color: #F61818;
    margin-left: 25px;
    padding: 20px;
    border-radius: 20px;
    border: 0;
    font-family: "Roboto Regular", "Roboto";
    font-size: 20px;
}

.btn-enviar {
    font-family: "Roboto Regular", "Roboto";
    background-color: #F61818;
    font-size: 20px;
    padding: 17px;
    margin-left: 440px;
    width: 236px;
    border-radius: 10px;
}